# Dependencies
node_modules/

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
/blob-report/
/reports/
/docs/debug/
/docs

# Build output
dist/
build/
*.tsbuildinfo

# Env / secrets
.env
.env.*
!.env.example

# Sonar
.scannerwork/

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Coverage
coverage/

# Playwright
/playwright/.auth/

# AI related
.claude
.ai
CLAUDE.md
AGENTS.md